.container-box{
   border: 2px solid black;
      margin: 50px;
      padding: 0 !important;
      
}

.country-button {
  background: none;
  border: none;
  border-left: 2px solid black;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 14px 20px;
  margin: 0;
  display: inline;
  text-align: left;
  text-decoration: none;
}

.country-button.active {
  font-weight: bold;
  background-color: gray;
  color: white;
}

@media (min-width:768px) and (max-width: 991px) {
  .country-button {
      padding: 26px 20px;

  }
}